Monitor charger status.
Monitor battery status™ and condition.
Monitor the utility status™.
Provide the power switch™ function for computer to turn on and
off the utility on schedule for power saving™.
